DEBUG=False
DATABASE_URL=mongodb://localhost:27017/diksiyonaryo
SCRAPER_BASE_URL=http://diksiyonaryo.ph
SCRAPER_SELECTOR_RESULTITEM=.word
SCRAPER_TEXT_NEXTBUTTON=>>
SCRAPER_URI_BYLETTER={base_url}/list/{letter}
SCRAPER_URI_BYLETTERPAGE={base_url}{next_page}
