DEBUG=False
DATABASE_URL=sqlite:///db.sqlite3
SCRAPER_BASE_URL=http://diksiyonaryo.ph
SCRAPER_SELECTOR_PAGINATION=.pagination-list .page
SCRAPER_SELECTOR_RESULTITEM=.word
SCRAPER_TEXT_NEXTBUTTON=>>
SCRAPER_URI_BYLETTER={base_url}/list/{letter}
SCRAPER_URI_BYLETTERPAGE={base_url}{next_page}
