[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

robobrowser = "*"
docopt = "*"
python-dotenv = "*"
simple-settings = "*"
envparse = "*"
colorama = "*"
mongoengine = "*"
Unidecode = "*"
apistar = "*"


[dev-packages]

pytest = "*"
pycodestyle = "*"
coverage = "*"
tox = "*"
pytest-splinter = "*"
