[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

robobrowser = "*"
sqlalchemy = "*"
docopt = "*"
python-dotenv = "*"
simple-settings = "*"


[dev-packages]

pytest = "*"
